ha-card {
  background: transparent;
  box-shadow: none;
}

#bedroom-overlay {
  fill: #F9D27C !important;
  fill-opacity: 0.6;
}

#entrance-closed {
  visibility: hidden;
}

.binary-sensor-on {
  fill: #F9D27C !important;
  fill-opacity: 0.6;
}

.binary-sensor-off {
  fill: #7CB1F9 !important;
  transition: fill 5s ease;
}
